@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #20262E;    
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #DEDEDE;
    padding: 20px 0;
}
h1{
    color: #00A264;
    font-family: "Anton", sans-serif;
    font-weight: 400px;
    
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

a{
    text-decoration: none;
    font-weight: bolder;

}
li a:hover{
    text-decoration-color: #DEDEDE !important;
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
    text-underline-offset:2.1em;
}
.ativo{
    color: #00A264;
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
    text-underline-offset:2.1em;
}

#vagas-list{
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px auto;
    /* background-color: aquamarine; */
}

.vaga-item{
    border:  1px solid #00A264;
    border-radius: 5px;
    padding: 30px;
    transition: 0.5s;
    box-shadow: 10px 10px 0px 0px #00A264;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
}
.logo-img{
    border-radius: 50%;
    width: 40px;
    border:  1px solid #DEDEDE;
}
.cargo{
    font-weight: 500;
   font-size: 1.5rem;
   line-height: 50px;
}

.local{
    font-weight: 400;
    font-size: 15px;
}

.atribuicoes{
    margin-top: 30px;
    width: 70%;
    white-space: pre-line;

}

.vaga-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candidatura-link{
    display: flex;
    align-items: center;
    background-color: #00A264;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    gap: 5px;
}

.regime{
    margin-top: 20px;

}

.salario,
hr{
    margin-top: 20px;
}
hr{
    border: 1px solid #DEDEDE;
}
h3{
    font-weight: 500;
    font-size: 1.3rem;
}

.salario-dado-real{
    color: #00A264;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 40px;
}

.salario-local{
    color: #697580;
}

.salario-container{
    margin-top: 20px;
    background-color: #F9FAFB;
    border: 1px solid #DEDEDE;
    padding: 15px;

}